body{
    background-color: #f7fafc;
    font-family: Arial, sans-serif;
}

#JMS_main{
    max-width: auto;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0,0.1);
}

#landmine td {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    background-color: #ddd;
    cursor: pointer;
}


#begin{
    background-color: blue;
    color: white;

}
#begin:hover{
    background-color: rgb(85, 85, 255);
}